@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box
}
body{
    font-family:'Teko', sans-serif;
    font-size: 16px;
    color: white;
    background: black;
}
p, li{
    line-height: 1.8em;
}
p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
h1{
    font-size: 50px;
}
h1, h2, h3, h4, h5{
      font-family:'Teko', sans-serif;
}
div{
    display: block
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
header{
    position: absolute;
    width: 100%;
    z-index: 10;
}
header .logo{
	float: left;
}
header nav{ padding: 10px 0;
    float: right;
}
header nav ul{
    list-style: none;
    padding: 0;
    margin: 20px;
    
}
header nav ul li{
    float: left;
    position: relative;
}
header nav ul li a{
    padding: 10px 15px; 
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}
header nav ul li a:hover{
    padding: 6px 15px;
    background:black;
    transition: 0.5s;
    color: red
}
.banner{
    height: 100%;
    background: url("../img/banner2.jpg");
    width: 100%;
    object-fit: cover
}
.banner img{
    width: 800px;
    height: 600px;
    
    
}
.bg{
    background: url("../img/just_gamer_bg.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}
.pb-120{
    padding-bottom: 120px;
}
.pt-115{
    padding-top: 115px
}
.just-games-area b{
    color: #e4a101;
}
.just-gamers-list-icon{
    float: left;
    background-image: url("../img/241200980_4894624813886522_4741496850785785713_n.jpg");
    width: 97px;
    height: 97px;
    text-align: center;
    line-height: 85px;
    display: block;
    border: 6px solid #333240;
    margin-right: 25px;
    transition: 1s linear;
    padding-top:15px; 
}
.just-gamers-list ul li:hover .just-gamers-list-icon{
    border-color: #e9a301;
}
.just-gamers-content{
    position: relative;
    top: 5px;
}
.just-games-area  p{
     font-family: 'Roboto', sans-serif;
}
.fix{
    overflow: hidden;
}
.just-gamers-list ul li{
    list-style: none
}
.just-gamers-list li{
    padding: 25px
}
.Gamers{
    margin-bottom: 50px;
    padding-bottom: 35px;
    position: relative;
}
.Gamers img{
    padding-top: 30px
}
.just-gamers-content h3{
    font-size: 25px;
}
.just-gamers-img{
     align-items: center
}
.header-main{
    display: flex;
    justify-content: center;
}
.center-img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.just-gamers-character{
    position:absolute ;
}
.just-gamers-circle-shape{
    position: relative
}
.just-gamers-circle-shape{
   padding-left: 45%;  
}
.gamers-chart-shape{
    position: relative;
    z-index: -1
}
.rotateme{
  top: 100px

}
.rotateme {
  -webkit-animation-name: rotateme;
  animation-name: rotateme;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.title-style-three{
    padding-bottom: 35px;
    position: relative;
}
.mb-20{
    margin-bottom: 20px;
}
.text-center{
    text-align: center!important;
}
.released-gamers-area span{
    color: #fec439;
}
.released-gamers-area h2{
    font-size: 45px
}
.released-gamers-area p{
    font-size: 16px;
     font-family: 'Roboto', sans-serif;
}
@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.justify-content-between{
    justify-content: space-between !important;
    display: flex;
    padding-top: 50px
}
.justify-content-between ul{
    list-style: none;
}
.justify-content-between a{
    color: white;
    font-family: 'Roboto', sans-serif;  
}
.justify-content-between li{
    font-family: 'Roboto', sans-serif;
}
.justify-content-between h5{
    font-size: 25px
}
.justify-content-between ul li a:hover{
    color: #e9a301;
    transition: 1s
}
.mb-50{
    margin-bottom: 50px;
}
.mb-35{
    margin-bottom: 35px;
}

/* Slideshow container */
.slideshow-container {
  height: 600px;
  position: relative;
  margin: auto;
    overflow: hidden;
left: 180px
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.mySlides img{
    width: 100%
}
.align-items-center{
    overflow: hidden
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: red
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.justify-content-center{
    justify-content: center
}
.released-gamers-area{
    padding: 80px 0
}
.games-tabs{
    margin: 50px 0
}
.tab button{
    padding: 12px 12px;
    
    cursor: pointer;
    color: red
}
.tab button:hover{
    padding: 12px 12px;
    background:red;
    transition: 0.5s;
    color: white
}
.section-title{
    max-width: 720px;
    text-align: center;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px
}
.section-title .sub-title{
    display: block;
    text-transform: uppercase;
    color: red;
    letter-spacing: 1px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}
.section-title h2{
    font-size: 40px
}
.img-matches{
    margin: 50px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.my-project{
    padding: 48px 0;
    background:rgba(70,67,67,0.44);
}
.my-project h1{
    text-align: center;
    font-size: 25px
}
.counter-number{
    padding: 24px 0;
    display: flex;
}
.column{
    width: 25%;
   text-align: center ;
    cursor: pointer
}
.top{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
     padding: 30px 0;
}
.brand-logo{
    width: 25%;
   text-align: center ;
    cursor: pointer;
}
footer{
	background: url("../img/image (16).png");
	width: 100%;
	height: 100%;
	overflow: hidden;
}
footer h5{
	color:rgba(217,148,0,1.00)
		
	}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

